* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #085e5a;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #cbf5f3;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(8, 94, 90, 1) 0%,
    rgba(26, 143, 137, 0.9) 59%,
    rgba(58, 175, 169, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: rgb(194, 45, 45);
}

.login .loginContainer .errMessage {
  color: rgb(194, 45, 45);
  font-size: 16px;
}

.Home {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(8, 94, 90, 1) 0%,
    rgba(26, 143, 137, 0.9) 59%,
    rgba(58, 175, 169, 0.9) 100%
  );
}

/* .Home nav {
  background: #2b7a78;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home nav h2 {
  color: #fff;
}

.Home nav button {
  width: 86px;
  padding: 8px 0;
  background: #085e5a;
} */

/* Nav */
.navContainer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #085e5a;
}

.navContainer nav img {
  border-radius: 30%;
  border-spacing: 3vh;
}

.navContainer nav .logOutBtn {
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navContainer nav .logOutBtn:hover {
  color: #15a8a1;
  transition: all 400ms ease-in-out;
}

nav ul {
  display: inline-flex;
  justify-content: space-around;
  padding: 15px;
  width: 33%;
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.burgerMenu {
  display: none;
  cursor: pointer;
}
.burgerMenu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* @media screen and (max-width: 1024px) {
  .nav ul {
    display: flex;
    justify-content: space-around;
    padding: 3vh;
    width: 60%;
    color: white;
    list-style-type: none;
    text-decoration: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #085e5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav li {
    opacity: 0%;
  }
  .burgerMenu {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
} */
/* ContactUs */
.contactContainer {
  height: 91vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left top,
    rgba(8, 94, 90, 1) 0%,
    rgba(26, 143, 137, 0.9) 59%,
    rgba(203, 255, 252, 0.9) 100%
  ); /*cbf5f3*/
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  color: white;
}
.contactContainer label {
  padding: 3%;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}
.contactContainer h2 {
  padding: 3%;
  padding-bottom: 7vh;
  padding-left: 45%;
  padding-right: 45%;
  font-size: 26px;
}
.contactContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}
.contactContainer .eMessage {
  width: 150px;
}
.contactContainer .submitbtn {
  border-radius: 3%;
  margin-top: 3%;
}
